@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat.ttf') format('truetype');
}


@font-face {
  font-family: 'BLAGOVEST';
  src: url('fonts/BLAGOVEST.ttf') format('truetype');
}

@font-face {
  font-family: 'rus';
  src: url('fonts/rus.ttf') format('truetype');
}