@import 'utils/variables.scss';

.footer {
  margin-top: 50px;
  background-image: var(--mainGradient);
  color: var(--primaryText);
  font-size: 18px;
  // background-image: url('svg/back.svg');
  // background-repeat: repeat-x;
  // background-color: rgba(255, 255, 255, 0.8);
  // flex: 0 0 auto;

  a {
    color: var(--primaryText);
    font-size: 18px;
    font-weight: 700;
  }

  &_inner {
    display: flex;
    // height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
  }

  &_logo_wrap {
    display: flex;
    align-items: center;
    grid-area: footerLogo;
  }

  &_logo {
    width: 150px;

    img {
      // width: 85px;
      width: 100%;
    }
  }

  &_info {
    grid-area: footerInfo;
  }

  &_contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    grid-area: footerContacts;
  }

  &_socials {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      height: 25px;
    }
  }

  @media(max-width: 767px) {
    .footer {

      &_inner {
        display: grid;
        grid-template-areas:
          'footerLogo footerContacts'
          'footerInfo footerContacts';
        padding: 15px;
      }

      &_info {
        font-size: 16px;
      }

      &_contacts {
        gap: 10px;

        a {
          font-size: 16px;
        }
      }

      &_logo {
        width: 130px;
      }

      &_socials {
        img {
          width: 20px;
        }
      }
    }
  }

  @media(max-width: 464px) {
    .footer {
      &_inner {
        grid-template-areas:
          'footerLogo'
          'footerContacts'
          'footerInfo';
        justify-content: center;
      }

      &_logo_wrap {
        justify-content: center;
      }

      &_socials {
        padding-top: 10px;
      }

      &_contacts {
        align-items: center;
        gap: 10px;
      }

      &_info {
        order: 1;
        padding-top: 10px;
        text-align: center;
      }

    }




  }

}