@import 'utils/variables.scss';

.footer {
  margin-top: 50px;
  background-image: var(--mainGradient);
  color: var(--primaryText);
  font-size: 18px;
  // background-image: url('svg/back.svg');
  // background-repeat: repeat-x;
  // background-color: rgba(255, 255, 255, 0.8);
  // flex: 0 0 auto;

  a {
    color: var(--primaryText);
    font-size: 18px;
    font-weight: 700;
  }

  &_inner {
    display: flex;
    // height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
  }

  &_logo_wrap {
    display: flex;
    align-items: center;
  }

  &_logo {
    img {
      width: 85px;
    }
  }

  &_contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
  }

  &_socials {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      height: 25px;
    }
  }

  @media(max-width: 464px) {
    font: 14px;
    margin-top: 30px;

    &_inner {
      flex-direction: column;
      height: auto;
      padding: 15px;
    }

    &_logo {
      img {
        width: 70px;
      }
    }

    &_socials {
      padding-top: 10px;
    }

    &_contacts {
      align-items: center;
      gap: 10px;
    }

    &_info {
      order: 1;
      padding-top: 10px;
    }
  }

}