@import 'utils/variables.scss';
@import 'utils/elements.scss';

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.disable {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.main {
    // margin: 0 0 200px 0;

    .appeal_wrap {
        position: relative;
        display: flex;
        justify-content: center;

        .appeal_goal {
            position: absolute;
            top: 90%;
            max-width: 60%;
            // margin: 0 auto;
            flex-direction: column;
            align-items: start;
            z-index: 2;
            padding: 15px;
            background: var(--white);

            .appeal_title {
                margin: 0;
                color: var(--title);
            }
        }
    }

    .appeal {
        padding-top: 25px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 50px;

        .wrap_quote {
            margin: 0 55px;
            position: relative;

            // &::before {
            //     content: '';
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     z-index: -1;
            //     background-image: url('images/background/papyrus2.png');
            //     background-repeat: no-repeat;
            //     background-size: contain;
            // }
        }



        .quote p {
            position: relative;
        }

        .quote p::before,
        .quote p::after {
            font-size: 60px;
            font-family: Georgia;
            position: absolute;
        }

        .quote p::before {
            content: "“";
            top: 0;
            left: -40px;
        }

        .quote p::after {
            content: "”";
            bottom: -30px;
            right: -10px;
        }

        &_item {
            // box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.25);
            // background: var(--white);
            color: var(--black);
            // border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -5;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }

    }

    .goal_list {
        padding-left: 15px;

        &_item {
            line-height: 26px;
        }
    }

}

// team
.team {
    padding-bottom: 100px;
}

.team_wrap {
    position: relative;
}

.team_carousel {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    transition: all 0.4s linear;
}

.team_item {
    height: 400px;
    // overflow: hidden;
    position: relative;
    cursor: pointer;
}

.team_item-img {
    width: auto;
    height: 100%;
    border-radius: calc(40 * 1px);

}

.team_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(40 * 1px) 0 0 0;
    border-color: var(--white);
    overflow: hidden;
    // transform: translateY(100%);
    // transition: .2s ease-in-out;
    color: var(--title);
    background: var(--white);
    padding: 20px;

    .team_title {
        word-wrap: break-word;
        font-size: 14px;
    }

}

.team_button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    width: 51px;
    height: 52px;
    transition: .25s;

    &_next {
        right: -70px;
        background: url('svg/slider_arrowR.svg')
    }

    &_next:hover {
        background: url('svg/slider_arrowR_hover.svg')
    }

    &_prev {
        left: -70px;
        background: url('svg/slider_arrowL.svg');
    }

    &_prev:hover {
        background: url('svg/slider_arrowL_hover.svg')
    }

}

// .team_button {
//     cursor: pointer;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 15;
//     width: 35px;
//     height: 35px;
//     background: var(--white);
//     box-shadow: 0 10px 30px #c7c7c7;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img {
//         width: 25px;
//     }

//     &_next {
//         right: -50px;
//     }

//     &_prev {
//         left: -50px;
//     }

//     @media(max-width: 464px) {
//         display: none;
//     }
// }

// .team_header {
//     position: relative;
//     display: flex;
//     align-items: center;
//     gap: 2em;
//     padding: 1em;
//     border-radius: calc(40 * 1px) 0 0 0;
//     background-color: var(--white);
//     transform: translateY(-100%);
//     transition: .2s ease-in-out;
// }

// .team_header-text {
//     h3 {
//         word-wrap: break-word;
//         font-size: 14px;
//     }
// }

// .team_item:hover {

//     .team_overlay,
//     .team_header {
//         transform: translateY(0);
//     }
// }



// .team_desc {
//     padding: 0 2em 2em;
//     margin: 0;
//     color: var(--black);
//     font-size: 16px;
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 3;
//     overflow: hidden;
// }



// team


// form
.form {
    margin-top: 200px;
    background-color: var(--secondaryBack);
    padding: 15px 0 50px 0;

    &_inner {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 35px;
        padding: 0 15px;

        @media(max-width: 464px) {
            grid-template-columns: 1fr;
        }
    }

    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_img {
        max-width: 300px;

        img {
            width: 100%;
            height: auto;
        }
    }

    @media(max-width: 767px) {
        margin-top: 0;
    }
}

// form


@media(max-width: 1299px) {

    .appeal_wrap {
        padding: 0 15px;
    }
}

@media(max-width: 1200px) {
    .main {

        .appeal {
            gap: 15px;

            .quote p::before {
                top: -10px;
                left: -20px;
            }
        }
    }

    .wrap_quote {
        margin: 15px;

        .quote {
            margin: 10px;
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 1050px) {
    .text {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }

    .main {
        .appeal_wrap {
            .appeal_goal {
                top: 97%;
                max-width: 75%;

                .appeal_title {
                    font-size: 18px;
                }
            }
        }

        .appeal {
            grid-template-columns: 6fr 1fr;
        }

        .appeal_user {
            position: absolute;
            right: 15px;
            top: 0;
            width: 100px;
        }
    }
}

@media(max-width: 767px) {


    .main{
        .appeal{
            grid-template-columns: 1fr;
        }
    }
    // events
    .events_inner {
        grid-template-columns: 1fr;
    }
    .form_inner{
        grid-template-columns: 1fr;
    }


}

@media(max-width: 464px) {



    // main
    .main {
        .appeal_wrap {
            flex-direction: column;

            .appeal_goal {
                position: relative;
                max-width: 100%;
                margin-top: 25px;
            }
        }

        .appeal {
            grid-template-columns: 1fr;

            .wrap_quote {
                margin: 0 15px;
                position: relative;
            }

            // .wrap_quote::before {
            //     content: '';
            //     position: absolute;
            //     width: 175%;
            //     height: 160%;
            //     top: -27%;
            //     left: -75%;
            //     z-index: -1;
            //     background-image: url('images/background/papyrus2.png');
            //     background-repeat: no-repeat;
            //     background-size: contain;
            //     transform: rotate(90deg);
            // }
        }

        .appeal_user {
            display: none;
        }
    }


    // section events 
    .events {
        padding: 35px 0;
    }

    .event_main {
        .event_img {
            img {
                height: auto;
            }
        }
    }

    // team
    .team {
        padding: 0 15px;
        // margin-bottom: 30px;
    }
}


.slider {
    height: 400px;
    width: 95%;
    position: relative;
    max-width: 1000px;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    transition: all 0.3s;

    @media screen and (max-width: 992px) {
        max-width: 680px;
        height: 400px;
    }

    @media screen and (max-width: 768px) {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
    }


    @media screen and (max-height: 500px) and (min-width: 992px) {
        height: 350px;
    }

    @media(max-width: 767px) {
        margin-bottom: 50px;
    }

    &_wrap {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        box-sizing: border-box;
        transition-property: transform;
        transform: translate3d(0, 0, 0);
        transition-duration: 0ms;
    }

    &_item {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: opacity;

        // width: 750px;
        // opacity: 0;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &_img {
        width: 300px;
        flex-shrink: 0;
        height: 300px;
        background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
        box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
        border-radius: 20px;
        transform: translateX(-80px);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            // opacity: 0;
            transition: all 0.3s;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
            // border-radius: 20px;
            opacity: 0.4;
        }

        @media screen and (max-width: 992px) {
            // width: 45%;
        }

        @media screen and (max-width: 768px) {
            transform: translateY(-50%);
            width: 90%;
        }

        @media screen and (max-width: 576px) {
            width: 95%;
        }

        @media screen and (max-height: 500px) and (min-width: 992px) {
            height: 270px;
        }
    }

    &_content {
        padding-right: 25px;

        @media screen and (max-width: 992px) {
            // width: 55%;
        }

        @media screen and (max-width: 768px) {
            margin-top: -80px;
            text-align: center;
            padding: 0 30px;
        }

        @media screen and (max-width: 576px) {
            padding: 0
        }
    }

    // &_content>* {
    //     // opacity: 0;
    //     transform: translateY(25px);
    //     transition: all 0.4s;
    // }

    &_data {
        color: #7b7992;
        margin-bottom: 15px;
        display: block;
        font-weight: 500;
    }

    &_title {
        font-size: 24px;
        font-weight: 700;
        color: #0d0925;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }

    &_desc {
        color: #4e4a67;
        margin-bottom: 30px;
        line-height: 1.5rem;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }

    &_pagination {
        position: absolute;
        z-index: 10;
        right: 20px;
        width: 11px;
        text-align: center;
        left: auto;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);

        @media screen and (max-width: 768px) {
            transform: translateX(-50%);
            left: 50%;
            top: 205px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &_pagination-bullet {
        width: 11px;
        height: 11px;
        display: block;
        border-radius: 10px;
        background: #062744;
        opacity: .2;
        transition: all 0.3s;
        cursor: pointer;
        margin: 8px 0;

        @media screen and (max-width: 768px) {
            margin: 0 5px;
        }
    }

    &_pagination-bullet_active {
        opacity: 1;
        background: var(--title);
        height: 30px;
        box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

        @media screen and (max-width: 768px) {
            height: 11px;
            width: 30px;
        }
    }

    .btn {
        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }
}