@import 'utils/variables.scss';
@import 'utils/fonts.scss';
@import 'utils/elements.scss';


*,
::after,
::before {
    box-sizing: border-box
}

* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: var(--app-height);
}

body {
    // height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0 !important;
    overflow: overlay;
    position: relative;
    color: var(--primaryText);
    background-image: url('images/background/4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'rus';

    #app {
        min-height: var(--app-height);
        // display: grid;
        // grid-template-rows: auto 1fr auto;
    }
}

h1,
h1,
h3,
h4,
h5,
h6 {
    color: var(--title);
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    // background: var(--back);
    background: #f7dab6;
}

::-webkit-scrollbar-thumb {
    // background: rgb(102, 153, 255);
    // background: #D2B48C;
    background: var(--title);
    border: none;
}

p {
    margin: 0;
}

a {
    color: var(--white);
    text-decoration: none;
}