@import 'utils/variables.scss';
@import 'utils/fonts.scss';

*,
::after,
::before {
    box-sizing: border-box
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --app-height: 100%;
}

html,
body {
    height: var(--app-height);
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0 !important;
    overflow: overlay;
    position: relative;
    color: $white;
    background-image: url('images/background/1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    font-family: 'Montserrat';

}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(102, 153, 255);
    border: none;
}

p {
    margin: 0;
}

a {
    color: $white;
}